# Supabase Configuration
# Tìm các giá trị này tại: Project Settings > API > Project URL & Project API keys

VITE_SUPABASE_URL=https://echfenzsaspswwydetkq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVjaGZlbnpzYXNwc3d3eWRldGtxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0NjI5MjIsImV4cCI6MjA5NDAzODkyMn0.raH_zvAm9A5oO6CZLHX3OuhKd8TPGxtgoIoi2E3zVJU
